.imageCarousel
{
    height: 500px;
    object-fit: cover;
  
}

.couleurNav
{
    background-color: #e39940;
   
}

body
{
    background-color: #e39940;
}

.btn 
{
    background-color: #ffd179;
    color:black;
}

.imageLogo
{
    height: 80px;
    object-fit: cover;
   
}

.btnBody
{
    background-color: #e39940;
}

.backgroundInscription
{
    background-color: #ffd179;
}

.navigation
{
    color:#e39940
}

.imageCard
{
    height: 300px;
    object-fit: cover;
}

.imageDetailProduit
{
    height: 600px;
    object-fit: cover; 
}